flask==2.0.3
pandas==1.5.3  # Обновленная версия
numpy==1.24.3  # Работает с Python 3.9-3.11
plotly==5.18.0
scikit-learn==1.2.2
lightgbm==3.3.5
python-dotenv==0.21.1
gunicorn==20.1.0
flask-sqlalchemy==3.0.3